html, body{
    background-color: #888;
    overflow: hidden;
}
input:focus{
    border-bottom-color: white !important;
}
.textViewer{
    widht:100%;
    text-align: justify;
    overflow-wrap: break-word;
    padding-left: 260px;
    padding-right: 1em ;
    background-color: white;
    position: sticky;
    height: 93.5vh;

    overflow-y: scroll;
}
.textViewer p{
    margin: inherit;
}

.menuRecent{
    position: fixed;
    float: left;
    top: 4em;
    height: 95vh;
    width : 250px;
    padding-right: 1em;
    padding-left: 1em;
    z-index: 1;
    color: white;
}
.menuRecent li{
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.menuRecent li .path{
    text-overflow: ellipsis ;
    opacity: 0;
    display: block;
    font-size: 0.5em;
    margin-bottom: 1em;
    margin-top: -2em;
    transition: opacity 0.15s,margin-top 0.2s;
}
.menuRecent li:hover .path{
    opacity: 1;
    transition: opacity 0.5s,margin-top 0.2s;
    font-size: 0.5em;
    margin-bottom: 1em;
    margin-top: 0em;
}
.parameters{
    margin: 0;
    padding:0 1em 0 1em;
    height: 64px;
}
.parameters i{
    -webkit-transition: all 0.5s;
    rotation: 0deg;
    height: inherit!important;
}

.parameters:hover i{
    -webkit-transition: all 0.5s;
    transform: rotateZ(180deg);
    cursor: pointer;
    height: 100%/*
    background-color: white;
    color: black;*/
}
#openFileBtn{
    width: 250px;
    height: 100%;
    padding : 0;
    line-height: inherit;
    padding-left: 4em;
    padding-right: 1em;
    color: white;
    border: transparent 1px solid;
    /*border-radius: 2em;*/
    -webkit-transition: all 0.4s ease;
}
#openFileBtn *:not(i){
    color: transparent;
}
#openFileBtn i{
    position: absolute;
    top: 0;
    font-size: 2.8em;
    left: 0.2em;
    line-height: inherit;
}

#openFileBtn:hover{
    background-color: white;
}
#openFileBtn:hover *{
    -webkit-transition: all 0.5s;
    color: black !important;
}
i, .labelOuvrir, nav, .menuRecent{
    -webkit-user-select: none;
}
#openFileBtn:hover .labelOuvrir{
    -webkit-transition: all 0.5s;
    margin-left: 0;
}

#openFileBtn .labelOuvrir{
    -webkit-transition: all 0.5s;
    margin-left: 20%;
}
nav ul, nav li, nav ul li i{
    height: 100%;
    line-height: inherit!important;
}
.infos{
    margin-right: 1em;
}
.recherche{
    display: inline;
    border: white 1px solid;
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
}
.fileNavigator{
    margin: 0 0 0 0 ;
    padding:0 1em 0 1em;
    height: 64px;
    cursor: pointer;
}
.fileNavigator.up:hover{
    transition: all 0.2s;
    transform: translateY(-5px);
    padding:0 1em 0 1em;
    cursor: pointer;
}
.fileNavigator.down:hover{
    transition: all 0.2s;
    transform: translateY(5px);
    padding:0 1em 0 1em;
    cursor: pointer;
}
#searchTools{
    height: 100%;
    display: inline-block;
}
.closedFile{
    visibility: hidden;
    transform: translateY(-100%);
    transition: visibility 0.3s, transform 0.3s;
}
#searchTools:not(.closedFile){
    visibility: visible;
    transform: translateY(0);
    transition: visibility 2s, transform 0.5s;
}
.noSearch{
    visibility: hidden;
    transform: translateY(-100%);
    transition: visibility 0.3s, transform 0.3s;
}
.focused{
    transition: all 0.2s;
    box-shadow: 2px 2px 30px black;
}
mark:not(.focused){
    transition: all 0.2s;
    transform: scale(1);

}
.fileNavigator:not(.noSearch){
    visibility: visible;
    transform: translateY(0);
    transition: visibility 2s, transform 0.5s;
}


.searchIcon {
    margin : 0!important;
    display: inline-block;
    height: 100%!important;

    transition-property: font-size;
    transition-duration: 0.5s;
}
.searchIcon:hover {
    cursor:pointer;
    font-size: 2.5em;
}
sub{
    position: absolute;
    transform: translateY(10px) translateX(-100%);
    text-transform: capitalize;
    cursor: pointer;
}
nav{
    /*height: 6.5vh;*/
    position: sticky;
    top:0;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index: 1;
}
.cbCase{
    padding-right: 1em;
    padding-left: 1em;
}
.modal-content h6{
    text-align: center;
    height: 2em;
}
.iro__colorPicker{
    margin: auto;
}
[type="checkbox"]:checked+span:not(.lever):before{
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black ;
    border-right-color: black  ;
}
[type="checkbox"]+span:not(.lever):before{
    border-color: black;
}